<%= link_to "The Puppers", controller: "dogs", action: "index", page: 0 %>
<% @dogs.each_with_index do |dog, i| %>
    <%= render :partial => 'thumbnail', locals: {dog: dog} %>
    <div>
        <%= @recent_likes[dog.id] || 0 %> likes in the past hour!
    </div>
    <br />
    <% if (i + 1 )% 2 == 0 %>
        <a href="http://www.ilyamakovoz.com/">
            <img src="<%= asset_path( 'ad.jpg' ) %>" />
        </a>
        <br />
    <% end %>
 <% end %>
<% if @prev_page %>
    <%= link_to "Previous Page", controller: "dogs", action: "trending_index", page: @page - 1 %>
<% end %>
<% if @next_page%>
    <%= link_to "Next Page", controller: "dogs", action: "trending_index", page: @page + 1 %>
<% end %>